In [19]:
import pandas as pd 
import copy as copy 
# Plot
import seaborn as sns
import matplotlib.pyplot as plt

### emdat

In [20]:
# loading data 
table= pd.read_excel('emdat_public_2020_09_12_query_uid-tAnKEX.xlsx',skiprows=6)
# Selecting floods 
flood_table=table[table['Disaster Type']=='Flood']
flood_table

,Dis No,Year,Seq,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,Entry Criteria,...,End Day,Total Deaths,No Injured,No Affected,No Homeless,Total Affected,Reconstruction Costs ('000 US$),Insured Damages ('000 US$),Total Damages ('000 US$),CPI
16,1906-0023-BEL,1906,23,Natural,Hydrological,Flood,NaN,NaN,NaN,Govern,...,14.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.522300
17,1906-0024-BEL,1906,24,Natural,Hydrological,Flood,NaN,NaN,NaN,Govern,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.522300
50,1911-0002-CHN,1911,2,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,Kill,...,NaN,100000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.652756
63,1915-0011-CHN,1915,11,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,Affect,...,NaN,NaN,NaN,3000000.0,NaN,3000000.0,NaN,NaN,NaN,3.965849
79,1917-0013-CHN,1917,13,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,Affect,...,NaN,NaN,NaN,635000.0,NaN,635000.0,NaN,NaN,NaN,5.022539
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24509,2020-0168-YEM,2020,168,Natural,Hydrological,Flood,Flash flood,NaN,NaN,Kill,...,22.0,10.0,30.0,150000.0,NaN,150030.0,NaN,NaN,NaN,NaN
24510,2020-0216-YEM,2020,216,Natural,Hydrological,Flood,NaN,NaN,NaN,Kill,...,4.0,16.0,85.0,130.0,NaN,215.0,NaN,NaN,NaN,NaN
24511,2020-0319-YEM,2020,319,Natural,Hydrological,Flood,NaN,NaN,NaN,Kill,...,25.0,172.0,124.0,NaN,NaN,124.0,NaN,NaN,NaN,NaN
24518,2020-0175-COD,2020,175,Natural,Hydrological,Flood,NaN,NaN,NaN,Kill,...,18.0,52.0,80.0,92500.0,NaN,92580.0,NaN,NaN,NaN,NaN
24519,2020-0131-TLS,2020,131,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,Affected,...,13.0,NaN,7.0,9124.0,NaN,9131.0,NaN,NaN,20000.0,NaN

In [21]:
flood_table.columns

Index(['Dis No', 'Year', 'Seq', 'Disaster Group', 'Disaster Subgroup',
       'Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype',
       'Event Name', 'Entry Criteria', 'Country', 'ISO', 'Region', 'Continent',
       'Location', 'Origin', 'Associated Dis', 'Associated Dis2',
       'OFDA Response', 'Appeal', 'Declaration', 'Aid Contribution',
       'Dis Mag Value', 'Dis Mag Scale', 'Latitude', 'Longitude', 'Local Time',
       'River Basin', 'Start Year', 'Start Month', 'Start Day', 'End Year',
       'End Month', 'End Day', 'Total Deaths', 'No Injured', 'No Affected',
       'No Homeless', 'Total Affected', 'Reconstruction Costs ('000 US$)',
       'Insured Damages ('000 US$)', 'Total Damages ('000 US$)', 'CPI'],
      dtype='object')

In [22]:
flood_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5277 entries, 16 to 24519
Data columns (total 43 columns):
Dis No                             5277 non-null object
Year                               5277 non-null int64
Seq                                5277 non-null int64
Disaster Group                     5277 non-null object
Disaster Subgroup                  5277 non-null object
Disaster Type                      5277 non-null object
Disaster Subtype                   3451 non-null object
Disaster Subsubtype                0 non-null object
Event Name                         10 non-null object
Entry Criteria                     5276 non-null object
Country                            5277 non-null object
ISO                                5277 non-null object
Region                             5277 non-null object
Continent                          5277 non-null object
Location                           4982 non-null object
Origin                             2965 non-null object
Associated Dis                     1159 non-null object
Associated Dis2                    131 non-null object
OFDA Response                      617 non-null object
Appeal                             619 non-null object
Declaration                        878 non-null object
Aid Contribution                   344 non-null float64
Dis Mag Value                      1773 non-null float64
Dis Mag Scale                      5277 non-null object
Latitude                           993 non-null object
Longitude                          998 non-null object
Local Time                         0 non-null object
River Basin                        1176 non-null object
Start Year                         5277 non-null int64
Start Month                        5226 non-null float64
Start Day                          4348 non-null float64
End Year                           5277 non-null int64
End Month                          5227 non-null float64
End Day                            4336 non-null float64
Total Deaths                       3854 non-null float64
No Injured                         823 non-null float64
No Affected                        3780 non-null float64
No Homeless                        943 non-null float64
Total Affected                     4384 non-null float64
Reconstruction Costs ('000 US$)    12 non-null float64
Insured Damages ('000 US$)         225 non-null float64
Total Damages ('000 US$)           1770 non-null float64
CPI                                5186 non-null float64
dtypes: float64(15), int64(4), object(24)
memory usage: 1.8+ MB

In [23]:
flood_table['Country']=flood_table['Country'].apply(lambda x: x.lower())
flood_table['Country']=flood_table['Country'].apply(lambda x: x.replace(" (the)",""))
flood_table['Country']=flood_table['Country'].apply(lambda x: x.replace(" (plurinational state of)",""))
flood_table['Country']=flood_table['Country'].apply(lambda x: x.replace(" (the democratic republic of the)",""))
flood_table['Country']=flood_table['Country'].apply(lambda x: x.replace("côte d’ivoire","ivory coast"))
flood_table['Country']=flood_table['Country'].apply(lambda x: x.replace("bosnia and herzegovina","bosnia-herzegovina"))
flood_table['Country']=flood_table['Country'].apply(lambda x: x.replace(" (islamic republic of)",""))
flood_table['Country']=flood_table['Country'].apply(lambda x: x.replace(" (the republic of)",""))
flood_table['Country']=flood_table['Country'].apply(lambda x: x.replace(" (the democratic people's republic of)",""))

flood_table['Country']=flood_table['Country'].apply(lambda x: x.replace(" (the former yugoslav republic of)",""))
flood_table['Country']=flood_table['Country'].apply(lambda x: x.replace(" (province of china)",""))
flood_table['Country']=flood_table['Country'].apply(lambda x: x.replace(" (bolivarian republic of)",""))
flood_table['Country']=flood_table['Country'].apply(lambda x: x.replace(" (federated states of)",""))


flood_table['Country']=flood_table['Country'].apply(lambda x: x.replace(" fed rep",""))
flood_table['Country']=flood_table['Country'].apply(lambda x: x.replace(" p dem rep",""))
flood_table['Country']=flood_table['Country'].apply(lambda x: x.replace(" arab rep",""))
flood_table['Country']=flood_table['Country'].apply(lambda x: x.replace("tanzania, united republic of","tanzania"))
flood_table['Country']=flood_table['Country'].apply(lambda x: x.replace("palestine, state of","palestine"))
flood_table['Country']=flood_table['Country'].apply(lambda x: x.replace("russian federation","russia"))
flood_table['Country']=flood_table['Country'].apply(lambda x: x.replace("syrianublic","syria"))
flood_table['Country']=flood_table['Country'].apply(lambda x: x.replace("lao people's democratic republic","laos"))
flood_table['Country']=flood_table['Country'].apply(lambda x: x.replace("canary is","canary islands"))
flood_table['Country']=flood_table['Country'].apply(lambda x: x.replace("",""))
flood_table['Country']=flood_table['Country'].apply(lambda x: x.replace("",""))

C:\Users\GAMDOU\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\GAMDOU\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\GAMDOU\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\GAMDOU\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\GAMDOU\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\GAMDOU\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\GAMDOU\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\GAMDOU\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\GAMDOU\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\GAMDOU\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\GAMDOU\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\GAMDOU\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\GAMDOU\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\GAMDOU\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\GAMDOU\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\GAMDOU\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\GAMDOU\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\GAMDOU\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\GAMDOU\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\GAMDOU\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\GAMDOU\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\GAMDOU\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\GAMDOU\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\GAMDOU\Anaconda3\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [24]:
print('number of countries :',len(flood_table['Country'].sort_values(ascending=True).unique()))
flood_table_countries= flood_table['Country'].sort_values(ascending=True).unique()
flood_table_countries

number of countries : 185

array(['afghanistan', 'albania', 'algeria', 'american samoa', 'angola',
       'anguilla', 'argentina', 'armenia', 'australia', 'austria',
       'azerbaijan', 'bahamas', 'bangladesh', 'barbados', 'belarus',
       'belgium', 'belize', 'benin', 'bhutan', 'bolivia',
       'bosnia-herzegovina', 'botswana', 'brazil', 'bulgaria',
       'burkina faso', 'burundi', 'cabo verde', 'cambodia', 'cameroon',
       'canada', 'canary islands', 'central african republic', 'chad',
       'chile', 'china', 'colombia', 'comoros', 'congo', 'costa rica',
       'croatia', 'cuba', 'czech republic', 'czechoslovakia', 'djibouti',
       'dominican republic', 'ecuador', 'egypt', 'el salvador', 'eritrea',
       'ethiopia', 'fiji', 'finland', 'france', 'french guiana',
       'french polynesia', 'gabon', 'gambia', 'georgia', 'germany',
       'ghana', 'greece', 'grenada', 'guadeloupe', 'guatemala', 'guinea',
       'guinea-bissau', 'guyana', 'haiti', 'honduras', 'hong kong',
       'hungary', 'iceland', 'india', 'indonesia', 'iran', 'iraq',
       'ireland', 'israel', 'italy', 'ivory coast', 'jamaica', 'japan',
       'jordan', 'kazakhstan', 'kenya', 'kiribati', 'korea', 'kuwait',
       'kyrgyzstan', 'laos', 'lebanon', 'lesotho', 'liberia', 'libya',
       'lithuania', 'luxembourg', 'macedonia', 'madagascar', 'malawi',
       'malaysia', 'maldives', 'mali', 'marshall islands', 'mauritania',
       'mauritius', 'mexico', 'micronesia', 'moldova', 'mongolia',
       'montenegro', 'morocco', 'mozambique', 'myanmar', 'namibia',
       'nepal', 'netherlands', 'new zealand', 'nicaragua', 'niger',
       'nigeria', 'norway', 'oman', 'pakistan', 'palestine', 'panama',
       'papua new guinea', 'paraguay', 'peru', 'philippines', 'poland',
       'portugal', 'puerto rico', 'qatar', 'romania', 'russia', 'rwanda',
       'saint kitts and nevis', 'saint lucia',
       'saint vincent and the grenadines', 'samoa', 'saudi arabia',
       'senegal', 'serbia', 'serbia montenegro', 'seychelles',
       'sierra leone', 'slovakia', 'slovenia', 'solomon islands',
       'somalia', 'south africa', 'south sudan', 'soviet union', 'spain',
       'sri lanka', 'sudan', 'suriname', 'swaziland', 'sweden',
       'switzerland', 'syria', 'taiwan', 'tajikistan', 'tanzania',
       'thailand', 'timor-leste', 'togo', 'trinidad and tobago',
       'tunisia', 'turkey', 'turkmenistan', 'uganda', 'ukraine',
       'united arab emirates',
       'united kingdom of great britain and northern ireland',
       'united states of america', 'uruguay', 'uzbekistan', 'vanuatu',
       'venezuela', 'viet nam', 'yemen', 'yugoslavia', 'zambia',
       'zimbabwe'], dtype=object)

In [25]:
print('from',flood_table['Year'].min(),'to',flood_table['Year'].max())

from 1900 to 2020

### Flood Archive

In [26]:
# loading data 
archive_flood_table= pd.read_excel('FloodArchive.xlsx')

In [27]:
archive_flood_table

,ID,GlideNumber,Country,OtherCountry,long,lat,Area,Began,Ended,Validation,Dead,Displaced,MainCause,Severity
0,1,0,Algeria,0,5.230260,35.81420,92615.67,1985-01-01,1985-01-05,News,26,3000,Heavy rain,1.0
1,2,0,Brazil,0,-45.348900,-18.71110,678498.82,1985-01-15,1985-02-02,News,229,80000,Heavy rain,2.0
2,3,0,Phillipines,0,122.974000,10.02070,12846.03,1985-01-20,1985-01-21,News,43,444,Torrential rain,1.0
3,4,0,Indonesia,0,124.606000,1.01489,16542.12,1985-02-04,1985-02-18,News,21,300,Torrential rain,1.0
4,5,0,Mozambique,0,32.349100,-25.86930,20082.21,1985-02-09,1985-02-11,News,19,0,Heavy rain,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4963,4965,NaN,Mozambique,NaN,38.127600,-14.58130,293973.02,2020-10-02,2020-10-25,FloodList,13,4000,Heavy Rain,1.5
4964,4966,NaN,Vietnam,NaN,107.833000,15.85480,52752.51,2020-10-06,2020-10-25,FloodList,75,900000,Heavy Rain,2.0
4965,4967,NaN,Nigeria,NaN,6.258020,7.77412,118736.41,2020-09-15,2020-10-25,FloodList,155,25000,Heavy Rain,1.5
4966,4968,NaN,Togo,NaN,0.777334,9.71016,25645.64,2020-09-15,2020-10-21,FloodLIst,11,16000,Heavy Rain,1.5
4967,4969,NaN,India,NaN,79.226600,17.34440,125991.06,2020-10-16,2020-10-25,FloodList,6,2100,Monsoonal Rain,1.5

In [28]:
### Coutries cleaning 
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x[1:] if x.find(' ')==0 else x)
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("\xa0", ""))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Bangaldesh", "Bangladesh"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Bangledesh", "Bangladesh"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Boliva", "Bolivia"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Bosnia-Herzegovenia", "Bosnia-Herzegovina"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Bosnia and Herzegovina", "Bosnia-Herzegovina"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Bosnia and Herzogovina", "Bosnia-Herzegovina"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Burkino Faso", "Burkina Faso"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Camaroun", "Cameroon"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Cameroun", "Cameroon"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Camaroon", "Cameroon"))

archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Cental African Republic", "Central African Republic"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("China ", "China"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Columbia", "Colombia"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Comoros islands", "Comoros Islands"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Congo Republic", "Congo"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Cote D'Iavoir", "Ivory Coast"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Cote d'Ivoire", "Ivory Coast"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("DR Congo", "Congo"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Democratic  Republic of the Congo", "Congo"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Democratic Republic Congo", "Congo"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Democratic Republic of Congo", "Congo"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Democratic Republic of the Congo", "Congo"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Ecuador ", "Ecuador"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("El Savador", "El Salvador"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Guatamala","Guatemala"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Inda","India"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Indonesia ","Indonesia"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Inonesia","Indonesia"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Kazahkstan","Kazakhstan"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Madascar","Madagascar"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Malayasia","Malaysia"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Malaysia ","Malaysia"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Moldava","Moldova"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Moldovo","Moldova"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Myanamar","Myanmar"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Papua New Gunea","Papua New Guinea"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Philippine","Philippines"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Philipines","Philippines"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Phillipines","Philippines"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Phillippines","Philippines"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Philippiness","Philippines"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Republic of Congo","Congo"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Philippiness","Philippines"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Serbia and Montenegro","Serbia-Montenegro"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("South Korea ","South Korea"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Tajikstan","Tajikistan"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("The Gambia","Gambia"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("USA.","united states of america"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("USA","united states of america"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("USSR","Soviet Union"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Uruguay,","Uruguay"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Venezulea","Venezuela"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Vietnam","Viet Nam"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("Zimbawe","Zimbabwe"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.lower())
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("united arab emerates","united arab emirates"))

archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("west germany","germany"))

archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: 'united kingdom of great britain and northern ireland'if x=='uk' else x)
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: 'united kingdom of great britain and northern ireland'if x=='unitd kingdom'else x)
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: 'united kingdom of great britain and northern ireland'if x=='united kingdom'else x)
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: "united kingdom of great britain and northern ireland"if x=='england'else x)
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: "united kingdom of great britain and northern ireland"if x=='britain'else x)
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: "united kingdom of great britain and northern ireland"if x=='britain, ireland'else x)
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: "united kingdom of great britain and northern ireland"if x=='northern ireland'else x)
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: "united kingdom of great britain and northern ireland"if x=='scotland'else x)

archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: "trinidad and tobago"if x=='tobago'else x)
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: "trinidad and tobago"if x=='trinidad'else x)


archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("texas","united states of america"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("thiland","thailand"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("gaza","palestine"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("east timor","timor"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("burma/myanmar","myanmar"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("burma","myanmar"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("timor","indonesia"))

archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("saint vincent","saint vincent and the grenadines"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("north korea","korea"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("south korea","korea"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("bermuda","bermudes"))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: "bosnia-herzegovina" if x=="bosnia" else x)
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("",""))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("",""))
archive_flood_table['Country']=archive_flood_table['Country'].apply(lambda x: x.replace("",""))

In [29]:
print('number of countries: ', len(archive_flood_table['Country'].unique()))
archive_flood_table_countries=archive_flood_table['Country'].sort_values(ascending=True).unique()
archive_flood_table_countries

number of countries:  186

array(['afghanistan', 'africa', 'alaska', 'albania', 'algeria',
       'american samoa', 'angola', 'antigua', 'argentina', 'armenia',
       'australia', 'austria', 'azerbaijan', 'azores islands', 'bahamas',
       'bangladesh', 'belarus', 'belgium', 'belize', 'benin', 'bermudes',
       'bhutan', 'bolivia', 'bosnia-herzegovina', 'botswana', 'brazil',
       'bulgaria', 'burkina faso', 'burundi', 'cambodia', 'cameroon',
       'canada', 'canada and united states of america', 'canary islands',
       'caribbean', 'central african republic', 'chad', 'chile', 'china',
       'colombia', 'comoros islands', 'congo', 'costa rica', 'croatia',
       'cuba', 'cyprus', 'czech republic', 'czechoslovakia', 'djibouti',
       'dominican republic', 'ecuador', 'egypt', 'el salvador', 'estonia',
       'ethiopia', 'europe', 'fiji', 'finland', 'france',
       'french polynesia', 'gabon', 'gambia', 'georgia', 'germany',
       'ghana', 'greece', 'guam', 'guatemala', 'guinea', 'guyana',
       'haiti', 'honduras', 'hungary', 'iceland', 'india', 'indonesia',
       'iran', 'iraq', 'ireland', 'israel', 'italy', 'ivory coast',
       'jamaica', 'japan', 'jordan', 'kazakhstan', 'kenya', 'korea',
       'kyrgyzstan', 'laos', 'latvia', 'lebanon', 'lesotho', 'liberia',
       'libya', 'lithuania', 'macedonia', 'madagascar', 'malawi',
       'malaysia', 'maldives', 'mali', 'malta', 'martinique',
       'mauritania', 'mauritius', 'mexico', 'moldova', 'mongolia',
       'montenegro', 'morocco', 'mozambique', 'myanmar', 'namibia',
       'nepal', 'netherlands', 'new caledonia', 'new zealand',
       'nicaragua', 'niger', 'nigeria', 'norway', 'oman', 'pakistan',
       'palestine', 'panama', 'papua new guinea', 'paraguay', 'peru',
       'philippines', 'poland', 'portugal', 'puerto rico', 'qatar',
       'romania', 'russia', 'rwanda', 'saint vincent and the grenadines',
       'saudi arabia', 'senegal', 'serbia', 'serbia-montenegro',
       'seychelles', 'siberia', 'sierra leone', 'singapore', 'slovakia',
       'slovenia', 'solomon islands', 'somalia', 'south africa',
       'south sudan', 'soviet union', 'spain', 'sri lanka', 'sudan',
       'sudan and eritrea', 'suriname', 'sweden', 'switzerland', 'syria',
       'taiwan', 'tajikistan', 'tanzania', 'tasmania', 'thailand',
       'tibet', 'togo', 'trinidad and tobago', 'tunisia', 'turkey',
       'uganda', 'ukraine', 'united arab emirates',
       'united kingdom of great britain and northern ireland',
       'united states of america', 'uruguay', 'uzbekistan', 'vanuatu',
       'venezuela', 'viet nam', 'western sahara', 'yemen', 'yugoslavia',
       'zambia', 'zimbabwe'], dtype=object)

In [30]:
# countries in emdat and not in floodarchive
for country in flood_table_countries:
    if not(country in archive_flood_table_countries):
        print (country)

anguilla
barbados
cabo verde
comoros
eritrea
french guiana
grenada
guadeloupe
guinea-bissau
hong kong
kiribati
kuwait
luxembourg
marshall islands
micronesia
saint kitts and nevis
saint lucia
samoa
serbia montenegro
swaziland
timor-leste
turkmenistan

In [31]:
# countries in floodarchive and not in emdat
for country in archive_flood_table_countries:
    if not(country in flood_table_countries):
        print (country)

africa
alaska
antigua
azores islands
bermudes
canada and united states of america
caribbean
comoros islands
cyprus
estonia
europe
guam
latvia
malta
martinique
new caledonia
serbia-montenegro
siberia
singapore
sudan and eritrea
tasmania
tibet
western sahara

In [32]:
archive_flood_table

,ID,GlideNumber,Country,OtherCountry,long,lat,Area,Began,Ended,Validation,Dead,Displaced,MainCause,Severity
0,1,0,algeria,0,5.230260,35.81420,92615.67,1985-01-01,1985-01-05,News,26,3000,Heavy rain,1.0
1,2,0,brazil,0,-45.348900,-18.71110,678498.82,1985-01-15,1985-02-02,News,229,80000,Heavy rain,2.0
2,3,0,philippines,0,122.974000,10.02070,12846.03,1985-01-20,1985-01-21,News,43,444,Torrential rain,1.0
3,4,0,indonesia,0,124.606000,1.01489,16542.12,1985-02-04,1985-02-18,News,21,300,Torrential rain,1.0
4,5,0,mozambique,0,32.349100,-25.86930,20082.21,1985-02-09,1985-02-11,News,19,0,Heavy rain,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4963,4965,NaN,mozambique,NaN,38.127600,-14.58130,293973.02,2020-10-02,2020-10-25,FloodList,13,4000,Heavy Rain,1.5
4964,4966,NaN,viet nam,NaN,107.833000,15.85480,52752.51,2020-10-06,2020-10-25,FloodList,75,900000,Heavy Rain,2.0
4965,4967,NaN,nigeria,NaN,6.258020,7.77412,118736.41,2020-09-15,2020-10-25,FloodList,155,25000,Heavy Rain,1.5
4966,4968,NaN,togo,NaN,0.777334,9.71016,25645.64,2020-09-15,2020-10-21,FloodLIst,11,16000,Heavy Rain,1.5
4967,4969,NaN,india,NaN,79.226600,17.34440,125991.06,2020-10-16,2020-10-25,FloodList,6,2100,Monsoonal Rain,1.5

In [33]:
archive_flood_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4968 entries, 0 to 4967
Data columns (total 14 columns):
ID              4968 non-null int64
GlideNumber     3893 non-null object
Country         4968 non-null object
OtherCountry    3772 non-null object
long            4968 non-null float64
lat             4968 non-null float64
Area            4968 non-null float64
Began           4968 non-null datetime64[ns]
Ended           4968 non-null datetime64[ns]
Validation      4968 non-null object
Dead            4968 non-null int64
Displaced       4968 non-null int64
MainCause       4965 non-null object
Severity        4968 non-null float64
dtypes: datetime64[ns](2), float64(4), int64(3), object(5)
memory usage: 543.5+ KB

In [34]:
archive_flood_table['Start Day'] = archive_flood_table.Began.dt.day
archive_flood_table['Start Month'] = archive_flood_table.Began.dt.month
archive_flood_table['Start Year'] = archive_flood_table.Began.dt.year
archive_flood_table['End Day'] = archive_flood_table.Began.dt.day
archive_flood_table['End Month'] = archive_flood_table.Began.dt.month
archive_flood_table['End Year'] = archive_flood_table.Began.dt.year

In [35]:
archive_flood_table

,ID,GlideNumber,Country,OtherCountry,long,lat,Area,Began,Ended,Validation,Dead,Displaced,MainCause,Severity,Start Day,Start Month,Start Year,End Day,End Month,End Year
0,1,0,algeria,0,5.230260,35.81420,92615.67,1985-01-01,1985-01-05,News,26,3000,Heavy rain,1.0,1,1,1985,1,1,1985
1,2,0,brazil,0,-45.348900,-18.71110,678498.82,1985-01-15,1985-02-02,News,229,80000,Heavy rain,2.0,15,1,1985,15,1,1985
2,3,0,philippines,0,122.974000,10.02070,12846.03,1985-01-20,1985-01-21,News,43,444,Torrential rain,1.0,20,1,1985,20,1,1985
3,4,0,indonesia,0,124.606000,1.01489,16542.12,1985-02-04,1985-02-18,News,21,300,Torrential rain,1.0,4,2,1985,4,2,1985
4,5,0,mozambique,0,32.349100,-25.86930,20082.21,1985-02-09,1985-02-11,News,19,0,Heavy rain,2.0,9,2,1985,9,2,1985
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4963,4965,NaN,mozambique,NaN,38.127600,-14.58130,293973.02,2020-10-02,2020-10-25,FloodList,13,4000,Heavy Rain,1.5,2,10,2020,2,10,2020
4964,4966,NaN,viet nam,NaN,107.833000,15.85480,52752.51,2020-10-06,2020-10-25,FloodList,75,900000,Heavy Rain,2.0,6,10,2020,6,10,2020
4965,4967,NaN,nigeria,NaN,6.258020,7.77412,118736.41,2020-09-15,2020-10-25,FloodList,155,25000,Heavy Rain,1.5,15,9,2020,15,9,2020
4966,4968,NaN,togo,NaN,0.777334,9.71016,25645.64,2020-09-15,2020-10-21,FloodLIst,11,16000,Heavy Rain,1.5,15,9,2020,15,9,2020
4967,4969,NaN,india,NaN,79.226600,17.34440,125991.06,2020-10-16,2020-10-25,FloodList,6,2100,Monsoonal Rain,1.5,16,10,2020,16,10,2020