# input-magnitude.csv

### Creating proper input for missing data sets

In [1]:
# a = [1900, 1910, 1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000, 2010,2020,2030,2040,2050,2060,2070,2080,2090]
# b = ['Australia and New Zealand','Caribbean','Central America','Central Asia','Eastern Africa','Eastern Asia','Eastern Europe','Melanesia','Micronesia','Middle Africa','Northern Africa','Northern America','Northern Europe','Polynesia','South America','South-Eastern Asia','Southern Africa','Southern Asia','Southern Europe','Western Africa','Western Asia','Western Europe']
# b = ['Australia and New Zealand','Caribbean','Central America','Central Asia','Eastern Africa','Eastern Asia','Eastern Europe','Melanesia','Micronesia','Middle Africa','Northern Africa','Northern America','Northern Europe','Polynesia','South America','South-Eastern Asia','Southern Africa','Southern Asia','Southern Europe','Western Africa','Western Asia','Western Europe']
# c = ['Droughts']
# d = [2.6,4.5,6.0,8.5]
# e = [2020,2030,2040,2050,2060,2070,2080,2090]
# f = ['Floods', 'Droughts']

### Creating rows for missing data sets

In [2]:
import pandas as pd

# from itertools import product
# df1 = pd.DataFrame(list(product(a,b,c,d)), columns=['Decade','UN_Geosheme_Subregion','Disaster_Type','RCP'])
# df2 = pd.DataFrame(list(product(e,b,f,d)), columns=['Decade','UN_Geosheme_Subregion','Disaster_Type','RCP'])
# df = df1.append(df2)
# df = pd.DataFrame(list(product(e,b,f,d)), columns=['Decade','UN_Geosheme_Subregion','Disaster_Type','RCP'])
# df.loc[df.Decade < 2020, 'RCP'] = None
# df = df.drop_duplicates()

### Filling missing data sets rows with dummy values

In [3]:
# import numpy as np
# df['Financial_Impact'] = np.random.randint(0,100000000, df.shape[0])
# df['Human_Impact'] = np.random.randint(0,1000000, df.shape[0])
# df['DO'] = np.random.randint(0,100, df.shape[0])

### Historical Floods data set

In [4]:
import pandas as pd

past_floods = pd.read_csv("../data/team_floods_output_past.csv")
past_floods["Disaster_Type"] = past_floods["Disaster_Type"].replace(["Flood"], "Floods")
past_floods[["Financial_Impact", "Rain", "Human_Impact"]] = past_floods[
    ["Financial_Impact", "Rain", "Human_Impact"]
].astype("int64")
past_floods = past_floods.drop(["RCP"], axis=1)
pastfloods = past_floods.drop(["Rain"], axis=1)
pastfloods = pastfloods[pastfloods.Decade != 2020]
# df = df.append(pastfloods)
df = pastfloods

### Appending historical Storms data set

In [5]:
past_storms = pd.read_csv("../data/team_storms_output_past.csv", index_col=0)
paststorms = past_storms[past_storms.Decade != 2020]
paststorms = paststorms.drop(["°C"], axis=1)
df = df.append(paststorms)

### Appending historical Droughts data set

In [6]:
pastdroughts = pd.read_csv("../data/team_droughts_output_past.csv", index_col=0)
pastdroughts = pastdroughts.drop(["°C"], axis=1)
pastdroughts["Disaster_Type"] = pastdroughts["Disaster_Type"].replace(
    ["Drought"], "Droughts"
)
df = df.append(pastdroughts)

### Appending future Storms data set

In [7]:
future_storms = pd.read_csv("../data/team_storms_output_future.csv", index_col=0)
futurestorms = future_storms.drop(["°C"], axis=1)
df = df.append(futurestorms)

### Appending future Floods data set

In [8]:
future_floods = pd.read_csv("../data/team_floods_output_future.csv")
future_floods["Disaster_Type"] = future_floods["Disaster_Type"].replace(
    ["Flood"], "Floods"
)
future_floods[["Financial_Impact", "Rain", "Human_Impact"]] = future_floods[
    ["Financial_Impact", "Rain", "Human_Impact"]
].astype("int64")
futurefloods = future_floods.drop(["Rain"], axis=1)
df = df.append(futurefloods)

### Appending future Droughts data set

In [9]:
future_droughts = pd.read_csv("../data/team_droughts_output_future.csv", index_col=0)
future_droughts["Disaster_Type"] = future_droughts["Disaster_Type"].replace(
    ["Drought"], "Droughts"
)
future_droughts = future_droughts.drop(["°C"], axis=1)
df = df.append(future_droughts)

### Generation of input-magnitude.csv

In [10]:
df = df[
    [
        "Decade",
        "UN_Geosheme_Subregion",
        "Disaster_Type",
        "RCP",
        "Financial_Impact",
        "Human_Impact",
        "DO",
    ]
]
df = df.sort_values(
    by=["Decade", "UN_Geosheme_Subregion", "Disaster_Type"]
).reset_index(drop=True)
df.to_csv("../data/input-magnitude.csv", index=False)
df

,Decade,UN_Geosheme_Subregion,Disaster_Type,RCP,Financial_Impact,Human_Impact,DO
0,1900,Caribbean,Floods,NaN,0,300,1
1,1900,Caribbean,Storms,NaN,0,0,2
2,1900,Eastern Asia,Storms,NaN,20000000,0,1
3,1900,Northern America,Floods,NaN,0,72,1
4,1900,Northern America,Storms,NaN,30000000,0,6
...,...,...,...,...,...,...,...
2249,2090,Western Europe,Floods,8.5,1569209175,1272675,9
2250,2090,Western Europe,Storms,2.6,36900000,11358,18
2251,2090,Western Europe,Storms,4.5,41000000,12620,20
2252,2090,Western Europe,Storms,6.0,32800000,10096,16
2253,2090,Western Europe,Storms,8.5,57400000,17668,28

# input-extra.csv

### Temperatures data set preparation

In [11]:
extrac = past_storms.append(future_storms)
extrac = extrac.drop(
    ["DO", "Human_Impact", "Financial_Impact", "Disaster_Type"], axis=1
)

### Rainfalls data set preparation

In [12]:
# extrar = past_floods.append(future_floods)
extrar = past_floods.drop(
    ["DO", "Human_Impact", "Financial_Impact", "Disaster_Type"], axis=1
)

### Merge of rainfalls and temperatures

In [13]:
extra = extrac.merge(extrar, on=["Decade", "UN_Geosheme_Subregion"], how="outer")

### Generation of input-magnitude.csv

In [14]:
extra = extra[["Decade", "UN_Geosheme_Subregion", "RCP", "°C", "Rain"]]
extra = extra.sort_values(by=["Decade", "UN_Geosheme_Subregion"]).reset_index(drop=True)
extra.to_csv("../data/input-extra.csv", index=False)
extra

     Decade UN_Geosheme_Subregion  RCP    °C  Rain
0      1900             Caribbean  NaN  23.0   0.0
1      1900          Eastern Asia  NaN  22.0   NaN
2      1900      Northern America  NaN   6.0   0.0
3      1900    South-Eastern Asia  NaN  23.0   NaN
4      1900         Southern Asia  NaN  24.0   NaN
..      ...                   ...  ...   ...   ...
904    2090          Western Asia  8.5  24.0   NaN
905    2090        Western Europe  2.6  10.0   NaN
906    2090        Western Europe  4.5  11.0   NaN
907    2090        Western Europe  6.0  12.0   NaN
908    2090        Western Europe  8.5  13.0   NaN

[909 rows x 5 columns]