# Import packages

In [1]:
import pandas as pd

# Load data

In [2]:
DATASET_FOLDER = '../../datasets/tempetes'
path = DATASET_FOLDER + '/' + 'wb_disasters_bdd.xlsx'

In [3]:
disasters_df = pd.read_excel(path)

In [4]:
storms_df = disasters_df[disasters_df["Disaster Type"]=="Storm"]

In [5]:
storms_df.columns

Index(['Dis No', 'Year', 'Seq', 'Disaster Group', 'Disaster Subgroup',
       'Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype',
       'Event Name', 'Entry Criteria', 'Country', 'ISO', 'Region', 'Continent',
       'Location', 'Origin', 'Associated Dis', 'Associated Dis2',
       'OFDA Response', 'Appeal', 'Declaration', 'Aid Contribution',
       'Dis Mag Value', 'Dis Mag Scale', 'Latitude', 'Longitude', 'Local Time',
       'River Basin', 'Start Year', 'Start Month', 'Start Day', 'End Year',
       'End Month', 'End Day', 'Total Deaths', 'No Injured', 'No Affected',
       'No Homeless', 'Total Affected', 'Reconstruction Costs ('000 US$)',
       'Insured Damages ('000 US$)', 'Total Damages ('000 US$)', 'CPI'],
      dtype='object')

# Compute average financial and economic impacts

In [9]:
impacts = storms_df.groupby(["Region"]).agg({"No Affected":"mean", "Total Damages ('000 US$)":"mean", "Disaster Type":"count"}).reset_index()

In [11]:
impacts.head()

,Region,No Affected,Total Damages ('000 US$),Disaster Type
0,Australia and New Zealand,75286.418182,253541.531915,121
1,Caribbean,196136.497076,685410.417112,357
2,Central America,103618.315789,410557.231481,221
3,Central Asia,4952.500000,1144.666667,5
4,Eastern Africa,190168.843137,96359.203390,164

In [12]:
impacts["avg_financial_impacts"] = impacts["Total Damages ('000 US$)"] / impacts["Disaster Type"]
impacts["human_impacts"] = impacts["No Affected"] / impacts["Disaster Type"]

In [14]:
impacts["avg_financial_impacts"] = impacts["avg_financial_impacts"].astype("int64")
impacts["human_impacts"] = impacts["human_impacts"].astype("int64")

In [15]:
impacts.head()

,Region,No Affected,Total Damages ('000 US$),Disaster Type,avg_financial_impacts,human_impacts
0,Australia and New Zealand,75286.418182,253541.531915,121,2095,622
1,Caribbean,196136.497076,685410.417112,357,1919,549
2,Central America,103618.315789,410557.231481,221,1857,468
3,Central Asia,4952.500000,1144.666667,5,228,990
4,Eastern Africa,190168.843137,96359.203390,164,587,1159

# Assess financial and human impacts in the future depending on predictions

In [ ]:
DATASET_FOLDER = '../../datasets/tempetes/predictions'
path = DATASET_FOLDER + '/' + 'preds_final_wo_impact.csv'

In [20]:
final_predictions_by_region_by_rcp = pd.read_csv(path, sep=",", encoding='latin-1')

ParserError: Error tokenizing data. C error: Buffer overflow caught - possible malformed input file.